label {
    display: block;
    color: white;
}

input {
    border: none;
    border-radius: 12px;
    padding: 12px;
    margin: 4px 0 12px 0;
    width: 100%;
    background-color: white !important;
    color: black !important;
}

h2 {
    color: white;
}

p {
    color: white;
}

.swap-image {
    width: 24px;
    height: 24px;
    margin-top: 8px;
    cursor: pointer;
}

.conversion-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.balance {
    margin-top: -8px;
    text-align: end;
}

.conversion-button {
    background-color: white;
    padding: 12px;
    border-radius: 16px;
    border: none;
    margin: 42px 0 42px 0;
    cursor: pointer;
}

.exchange-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.exchange-conversion-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    width: 100%;
}

.exchange-title {
    position: absolute;
    font-family: 'BenchNine', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    color: #cccccc11;
    font-size: 250px;
    text-align: center;
    user-select: none;
}

@media (max-width: 850px) {
    .exchange-background-image {
        width: 93%;
        height: 93%;
        margin-top: 1.5vw;
        margin-left: 0;
    }
    .exchange-title {
        font-size: 20vw;
    }
}
